:root {
  --primaryOne: hsl(237, 18%, 59%);
  --primaryTwo: hsl(345, 95%, 68%);

  --neutralOne: hsl(0, 0%, 100%);
  --neutralTwo: hsl(236, 21%, 26%);
  --neutralThree: hsl(235, 16%, 14%);
  --neutralFour: hsl(234, 17%, 12%);

  --elementSize: 20vw;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
html {
  background: #271f30 url(/bg-stars.svg);
}
body {
  background: transparent url(/pattern-hills.svg) bottom no-repeat;
  background-size: contain;
}
body,
#root,
main {
  width: 100vw;
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: var(--neutralOne);
  text-align: center;
  letter-spacing: 8px;
  font-size: 1.2rem;
  font-weight: 700;

  position: absolute;
  top: 20%;
}
.allTimerCont {
  display: flex;
  justify-content: center;
  gap: 10px;

  width: 100vw;
}
.background {
  width: var(--elementSize);
  height: calc(var(--elementSize) + 10px);
  background-color: var(--neutralFour);
  position: absolute;

  border-radius: 10px;
}
.timer {
  width: var(--elementSize);
  height: var(--elementSize);
  position: relative;

  p {
    translate: 0 calc(var(--elementSize) + 25px);
    text-align: center;
    color: var(--primaryOne);
    letter-spacing: 4px;
  }
}
.timerCont {
  width: var(--elementSize);
  height: var(--elementSize);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  color: var(--primaryTwo);
  background-color: var(--neutralTwo);
  border-radius: 10px;
}
.um {
  opacity: 0.8;
  clip-path: polygon(0 0, 100% 0, 100% 49.9%, 0 49.9%);
  z-index: 1;
}
.dois {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  z-index: 1;
}
.timerText {
  font-size: 3.5rem;
}
.redes {
  position: absolute;
  bottom: 10%;
  color: var(--primaryOne);

  display: flex;
  gap: 15px;
  * {
    font-size: 1.75rem;
    &:hover {
      color: var(--primaryTwo);
      cursor: pointer;
    }
  }
}
@media only screen and (min-width: 426px) {
  :root {
    --elementSize: 20vw;
  }
  .timerText {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 750px) {
  :root {
    --elementSize: 150px;
  }
  .timerText {
    font-size: 5rem;
  }
}
